body{

	background-image: url("../img/photo3.jpg");
}

#profile-img {

	border-radius: 50%;
}

h1{

	
font-family: 'Architects Daughter', cursive;
}

p{
	
font-family: 'Architects Daughter', cursive;

}

