.navbar-brand{ 
	color:black;
 }

h1{
	color: orange;


}
a{
	line-height: 1em;
	color: black ;

}
p{
	font-size: 2em;
	color: black;


}
img{

	width: 25vw;
	margin:50;
	border:3px solid black;
	padding: 10px
}
#third{
 
	color:black;

}
.style1{

	text-decoration: underline;
	color: black ;
}

.main{
	width:50vw;
	margin:50px auto;
}

#forth{ 

	color: red ;
 }

