body {background: linear-gradient(to bottom right, #0DFFB5, #5AFF3B); 
height:100vh;
}
#hi {width: 50px;margin-top: -10px;}
#lol{color:black;}
#k{
	width:400px;
}
#mag{
	width:400px;
}
#bruh{
	 margin-top: -100px;
}
#bruh1{
	  margin-top: 40px;
}
.container{
	margin-top: 30px;
}